
.depicter-revert .depicter-4-section-1 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-section-2 .depicter-section-background{
	background-color:#FFFFFF;
}
.depicter-revert .depicter-4-section-3 .depicter-section-background{
	background-color:#FFFFFF;
}

